#parent {
    
    background: rgba(0, 0, 0, .5);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
}

    .child {
    
        
        
    }


    .child1 {
    
        background: skyblue;
        text-align: center;
        
    }

    .child2 {
        
        background: powderblue;
        
    }

    .child3 {
        
        background: cadetblue;
        
    }

    .child4 {
        
        background: indianred
        
    }

    .child5 {
        
        background: salmon;
        
    }
    
    .child6 {
        
        background: firebrick;
        
    }

.button {
    
    color: white;
    background-color: green;
    padding: 15px 32px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid black;
    transition-duration: 0.1s
        
    
}

.button:hover {
    
    background-color: white;
    color: green;
    border: 1px solid green
    
}
    
@media screen and (min-width: 768px){
    
    #parent {
        
        background: rgba(0, 0, 0, .5);
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
    
}

@media screen and (min-width: 1200px){
    
    #parent {
        
        background: rgba(0, 0, 0, .5);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        
    }
    
}